*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#content{
    height: 100vh;
}
header{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: papayawhip;
}
main{
    display:flex;
    height: calc(100% - 50.4px);
}
.menu{
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: whitesmoke;
    height: 100%;
    width: 20rem;
}
#inbox{
    background-color: whitesmoke;
    border: none;

}
.title-project--container{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 25px;
}

.projectBtn{
    background-color: whitesmoke;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    cursor: pointer;
    transition: all 0.2s ease-in;
    padding: 5px;
    border-radius: 20px;
}
.projectBtn:hover{
    background-color: antiquewhite;
    transition: all 0.2s ease-in;

}
#projects-list{
    width: 60%;

}
.project-section-title{
    margin:20px 0;
    border-bottom: 1px solid gray;

}
.eraseProjectBtn{
    background-color: whitesmoke;
    border: none;
    transition: all 0.2s ease-in;
    cursor: pointer;
}
.eraseProjectBtn:hover{
    color: red;
    transition: all 0.2s ease-in;
}

#create-new-project{
    border: none;
    background-color: whitesmoke;
    transition: all 2s ease;
    padding: 10px;
}
#create-new-project:hover{
    background-color: antiquewhite;
    border-radius: 25px;
    transition: all 0.5s ease-in;
}
#inbox{
    margin-top: 30px;
}
#task-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#add-task{
    margin-top: 50px;
    width: 60%;
    background-color: rgb(255 249 240);
    padding: 0.5rem;
    border-radius: 25px;
    border: none;
    transition: all 0.5s ease-in;
}
#add-task:hover{

    background-color: antiquewhite;
    transition: all 0.5s ease-in;
}
.btn{
    width: 60%;
    cursor: pointer;
}
.cards{
    width: 60%;
}
.checked{
    text-decoration: line-through;
}
.checked .btn{
    background-color: bisque;
}
.checkbtn{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-right: 10px;
}
#card-information{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
#card-information p{
    max-width: 400px;
    overflow: hidden;
}
#card-container-information{
    display: flex;
    width: 100%;
}
#card-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 20px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(240, 236, 233);
}
.hidden{
    display: none;
}
.formShown{
    display: block;
}

#todo-form{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
#todo-form button{
    border: none;
    border-radius: 25px;
}
.project-submit-btn{
    color: red;
    font-family: monospace;
    font-size: xx-small;
}
#card-modifier-btn{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    padding: 10px;
}
#card-modifier-btn button{
    margin-right: 10px;
}
.editbtn{
    width: 10%;
}
.erasebtn{
    width: 10%;
}